binds {
    // Apps
    Ctrl+Alt+T { spawn "kitty"; }
    Ctrl+Alt+F { spawn "nautilus"; }
    Mod+D { spawn "rofi" "-show" "drun"; }

    // Session
    Mod+Ctrl+Escape { quit; }
    Mod+Q { close-window; }

    // Screenshot
    Print { screenshot; }
    Ctrl+Shift+Print { screenshot-screen; }
    Shift+Print { screenshot-window; }

    // Focus
    Alt+Tab { toggle-overview; }
    Mod+Ctrl+Down { focus-workspace-down; }
    Mod+Ctrl+Up { focus-workspace-up; }

    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up { focus-window-up; }
    Mod+Down { focus-window-down; }
    Mod+C { center-column; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-window-to-workspace-up; }
    Mod+Shift+Down { move-window-to-workspace-down; }

    // Sidebar
    Mod+S { spawn-sh "niri-sidebar toggle-window"; }
    Mod+Shift+S { spawn-sh "niri-sidebar toggle-visibility"; }
    Mod+Ctrl+S { spawn-sh "niri-sidebar flip"; }

    // Float
    Mod+T { toggle-window-floating; }

    // Fullscreen
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Shift+WheelScrollDown cooldown-ms=55 { focus-column-left; }
    Mod+Shift+WheelScrollUp cooldown-ms=55 { focus-column-right; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }

    // Monitors
    Mod+Alt+Left { focus-monitor-left; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Shift+Ctrl+Left { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-window-to-monitor-right; }

    // Resize
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+R { switch-preset-column-width; }

    // Volume
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_SINK@ +2% --limit 1.5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_SINK@ -2%"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_SOURCE@ toggle"; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+P { power-off-monitors; }
}
